<header>
  <h1>Find your dream job now</h1>
  <p>5 lakh+ jobs for you to explore</p>
</header>
<section class="search-bar">
  <input type="text" placeholder="Enter skills / designations / companies">
  <select>
      <option>Select experience</option>
      <option value="fresher">Fresher</option>
      <option value="1">1 Year</option>
      <option value="2">2 Year</option>
      <option value="3">3 Year</option>
      <option value="4">4 Year</option>
      <option value="5">5 Year</option>
  </select>
  <input type="text" placeholder="Enter location">
  <button routerLink="/jobs" routerLinkActive="active">Search</button>
</section>
<section class="advertisement">
  <img src="https://static.naukimg.com/s/0/0/i/awareness-images/desktop/homepage/think.png" alt="Naukri 360">
</section>
<section class="filters">
  <button>Remote</button>
  <button>MNC</button>
  <button>Fresher</button>
  <button>Fortune 500</button>
  <button>Data Science</button>
  <button>Internship</button>
  <button>Software &amp; Development</button>
  <button>Banking &amp; Finance</button>
  <button>Supply Chain</button>
  <button>HR</button>
  <button>Startup</button>
</section>
<section class="companies">
  <h2>Top companies hiring now</h2>
  <div class="company-name">
  <div class="company-category">
      <h3>MNCs</h3>
      <p>1.9k+ are actively hiring</p>
      <div class="comapnay-img">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
      </div>
  </div>
  <div class="company-category">
      <h3>Internet</h3>
      <p>197 are actively hiring</p>
      <div class="comapnay-img">
      <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
      <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
      <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
      <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
    </div>
  </div>
  <div class="company-category">
      <h3>Manufacturing</h3>
      <p>826 are actively hiring</p>
      <div class="comapnay-img">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
      </div>
  </div>
  <div class="company-category">
      <h3>Fortune 500</h3>
      <p>193 are actively hiring</p>
      <div class="comapnay-img">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
      </div>
  </div>
  <div class="company-category">
      <h3>Product</h3>
      <p>958 are actively hiring</p>
      <div class="comapnay-img">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
        <img src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/naukri-homepage-industry-wdgt/latest/resources/cmp-placeholder.0256d044.svg" alt="">
      </div>
  </div>
</div>
</section>
